# INTRODUCTION PYTHON

## Integers

In [8]:
print(123123123+1)

123123124

In [9]:
print(10)
print(type(10))

10
<class 'int'>

## Float

In [10]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [12]:
print(4.)
print(0.2)
print(0.4e7)
print(4.2e-4)

4.0
0.2
4000000.0
0.00042

## String

In [14]:
print("Hactiv8")
print(type("Hactiv8"))

Hactiv8
<class 'str'>

In [15]:
print('')

In [16]:
print("This string contains a single quote ('') character.")
print('This string contains a double qoute ("") character.')

This string contains a single quote ('') character.
This string contains a double qoute ("") character.

## Boolean Type, Boolean Contextand "Truthiness"

In [17]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [18]:
n = 300
print (n)

300

In [19]:
n = 100

In [20]:
n

100

In [21]:
a = b = c = 300
print(a,b,c)

300 300 300

## Variable Types in Python

In [22]:
var = 23.5
print (var)

23.5

In [23]:
var = "Now I'm a String"
print(var)

Now I'm a String

In [24]:
var = 23.5
print(var)

var = "Now I'm a String"
print(var)

23.5
Now I'm a String

## Variable Names

In [27]:
name ="Hactiv8"
age = 54
has_laptop = True
print(name, age,has_laptop)

Hactiv8 54 True

In [28]:
#variable name tidak boleh dimulai dengan angka
9_kepala_naga = True

SyntaxError: invalid decimal literal (1162619880.py, line 2)

In [29]:
#penggunaan huruf kesil dan huruf besar tidak sama. Penggunakan karakter garis bawah juga penting
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Operators and Expressions in Python

In [30]:
a = 10
b = 20
a+b

30

In [31]:
a = 10
b = 20
a + b - 5

25

### Arithmetic Operators

In [32]:
a = 4
b = 3

print(a + b)    #penjumlahan
print(a - b)    #pengurangan
print(a * b)    #perkalian
print(a / b)    #pembagian
print(a % b)    #modula, sisa dari hasil pembagian
print(a ** b)   #perpangkatan

7
1
12
1.3333333333333333
1
64

In [33]:
# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10 / 5

2.0

### Comparison OperatorsÂ¶

In [34]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)   #bernilai sama
print(a != b)   #bernilai tidak sama  
print(a <= b)   #lebih kecil ataau sama dengan dari
print(a >= b)   #lebih besar ataau sama dengan dari


a = 30
b = 30
print(a == b)   
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## String Manipulation

In [35]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Hacktiv8 ' + 'Inalum')

foobar
foobarbaz
Hacktiv8 Inalum

In [36]:
# * Operators

s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [41]:
# in Operators

s = 'foo'

print(s in 'That food for us')  #mencari kata 'foo' pada kalimat
print(s in 'That good for us')

True
False

In [42]:
# Case Conversion
s = 'HackTIV8 iNAlum'

# Capitalize
print(s.capitalize())   

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8 inalum
hacktiv8 inalum
hACKtiv8 InaLUM
Hacktiv8 Inalum
HACKTIV8 INALUM

# Python List

In [43]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

### List Are Ordered

In [44]:
#List yang memiliki elemen yang sama dalam urutan berbeda tidaklah sama
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

### List Elements Can Be Accessed by Index

In [45]:
#List dapat berisi bermacam-macam objects dan dapat bertype berbeda
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index

In [47]:
#perhatikan list berikut ini
a  =  [ 'foo' ,  'bar' ,  'baz' ,  'qux' ,  'quux' ,  'corge' ]

print(a[0])
print(a[5])

foo
corge

In [49]:
#list index negatif dihitung dari akhir list
print(a[-1])
print(a[-6])

corge
foo

In [50]:
#Slicing juga bisa digunakan, jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [52]:
# Operator penggabungan (+) dan replikasi (*): 
print ( a ) 
print ( a  +  [ 'grault' ,  'garply' ]) 
print ( a  *  2 )

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [53]:
# len(), min(), max() 

print ( a ) 

print ( len ( a ))  #panjang list
print ( min ( a ))  
print ( max ( a ))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### Modifying a Single List Value

In [54]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [55]:
# A list item can be deleted with the del command:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

### Modifying Multiple List Values

In [56]:
# Mengubah beberapa elemen yang berdekatan dalam sebuah list sekaligus
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples

In [57]:
# Defining and Using Tuples
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [58]:
print(t[0])
print(t[-1])

foo
corge

In [59]:
# packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

## Python Dictinory

In [61]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners',
}

In [62]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [63]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [64]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [65]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [67]:
person = {}
type(person)

person['fname']     = 'Hack'
person['lname']     = 'PTP'
person['age']       = 51
person['spouse']    = 'Edna'
person['children']  = ['Ralph', 'Betty', 'Joey']
person['pets']      = {'dog': 'Fifo', 'cat' : 'Sox'}
                       
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fifo', 'cat': 'Sox'}}

In [68]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [69]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [70]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fifo', 'cat': 'Sox'}
Sox

In [71]:
# Built-in Methods
d = {'a':10, 'b':20, 'c':30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [72]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [73]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True

## Using Library

In [74]:
import pandas as pd
import numpy as np

In [75]:
data = pd.DataFrame(data=np.array([[1,2,3],[4,5,6]], dtype=int), columns=['A','B','C'])
data

   A  B  C
0  1  2  3
1  4  5  6

## Using LaTex

$$c =\sqrt{a^2 + b^2}$$

In [79]:
from IPython.display import display, Math, Latex
display(Math(r'\sqrt{a^2 + b^2}'))

### Executing Shell Command

In [80]:
!echo 'Halo Kode'

'Halo Kode'

#### Pass Value to from shell

In [81]:
files = !ls
print(files)

["'ls' is not recognized as an internal or external command,", 'operable program or batch file.']